Library
Temp
Logs
obj
.idea
Recordings
UserSettings
*.bat
*.csproj
*.csproj.user
*.booproj
*.pidb
*.sln
*.sln.meta
*.suo
*.unityproj
*.userprefs
*.userprefs.meta
*.vsconfig
*~
.DS_Store
*[! -~]*
*.pidb.meta